@model Customer

@{
    ViewData["Title"] = "My Products";
}

<div class="text-center">
    <h1 class="display-4">Product management</h1>
    <p>
        See the details of the different products purchased from us: batteries, columns and elevators.
    </p>

    <div class="accordion" id="accordionExample">

        @* =========================================== BATTERIES =========================================== *@
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Batteries
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Battery Id</th>
                                <th>Building Id</th>
                                <th>Status</th>
                                <th>Certificate Operation</th>
                                <th>New Intervention</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var battery in Model.buildings.SelectMany(bu => bu.batteries))
                            {
                                <tr>
                                    <td>@battery.id</td>
                                    <td>@battery.building_id</td>
                                    <td>@battery.status</td>
                                    <td>@battery.cert_ope</td>
                                    <td><a href="@Url.Action("Intervention", "Home", new { batteryId = battery.id, buildingId = battery.building_id })">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* =========================================== COLLUMNS =========================================== *@
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Columns
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Column Id</th>
                                <th>Battery Id</th>
                                <th>Building Type</th>
                                <th>Floors Served</th>
                                <th>Status</th>
                                <th>New Intervention</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var column in Model.buildings.SelectMany(bu => bu.batteries.SelectMany(ba => ba.columns)))
                            {
                                <tr>
                                    <td>@column.id</td>
                                    <td>@column.battery_id</td>
                                    <td>@column.type_building</td>
                                    <td>@column.amount_floors_served</td>
                                    <td>@column.status</td>
                                    <td><a href="@Url.Action("Intervention", "Home", new { columnId = column.id, batteryId = column.battery_id })">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Elevators
                    </button>
                </h5>
            </div>

            @* =========================================== ELEVATORS =========================================== *@
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Elevator Id</th>
                                <th>Column Id</th>
                                <th>Model</th>
                                <th>Serial Number</th>
                                <th>Status</th>
                                <th>New Intervention</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var elevator in Model.buildings.SelectMany(bu => bu.batteries.SelectMany(ba => ba.columns.SelectMany(co => co.elevators))))
                            {
                                <tr>
                                    <td>@elevator.id</td>
                                    <td>@elevator.column_id</td>
                                    <td>@elevator.model</td>
                                    <td>@elevator.serial_number</td>
                                    <td>@elevator.status</td>
                                    <td><a href="@Url.Action("Intervention", "Home", new { elevatorId = elevator.id, columnId = elevator.column_id, elevatorSerialNumber = elevator.serial_number })">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
